.email {
  background-image: image-url('email.svg');
}

.password {
  background-image: image-url('password.svg');
}

.name {
  background-image: image-url('name.svg');
}

.auth-modal-background {
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;
  display: flex;
  align-content: center;
  flex-direction: column;
}


.cf {
  content: "this is a clearfix";
  height: 0;
  width: 100%;
  margin-top: 200px;
}

#login-modal, #signup-modal {
  position: relative;
  left: 100px;
  top: 100px;
  z-index: 3;
  background-color: white;
  width: 500px;
}

// #login-modal, #signup-modal {
//   height: 500px;
//   width: 500px;
// }
//
//
// #signup-modal {
//   height: 575px;
//   width: 500px;
// }



.auth-modal-main {
  form {
    padding: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }

  svg {
    display: inline;
    height: 19px;
    width: 19px;
    fill: gray;
  }

  input {
    border-radius: 2px;
    border: 1px solid lightgray;
    height: 46px;
    width: 100%;
    padding: 11px;
    margin: 0 0 13px 0;
    font-size: 19px;
    line-height: 24px;
    font-weight: 300;
    background-repeat: no-repeat;
    background-size: 19px 19px;
    background-position: 93% 50%;
  }


  input::placeholder {
    color: darkgray;
  }

  input:focus {
    border-color: #008489;
  }

  button {
    margin: 15px 0;
    height: 50px;
    padding: 12px 24px;
    color: white;
    background-color: #FF5A5F;
    font-size: 19px;
    line-height: 22px;
    border-radius: 3px;
    font-weight: 900;
  }

  a {
    margin-left: 5px;
    color: #008489;
    font-weight: 900;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    border-top: 1px solid lightgray;
    padding: 15px 0 0 0;
    margin: 20px;
    font-size: 19px;
    text-align: center;
    line-height: 24px;
    color: rgb(20, 20, 20);
  }

  h1 {
    margin: 25px 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: rgb(2, 2, 2);
    letter-spacing: -0.6px;
    font-weight: 900;
  }
}


.exit-modal {
  font-size: 25px;
  color: rgb(118,118,118);
}

.login-error {
  background: red;
  color: white;
  font-size: 19px;
  font-weight: 300px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}
