.auth-modal-background {
  height: inherit;
  width: 100%;
  background-color: black;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .68;
}

.auth-modal-main {
  position: relative;
  left: 100px;
  top: 100px;
  height: 450px;
  width: 500px;
  z-index: 3;
  background-color: white;


}

.auth-modal-main form {
  box-sizing: border-box;
  padding: 32px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.exit-modal {
  font-size: 25px;
  color: rgb(118,118,118);
}

.auth-modal-main h1 {
  margin: 25px 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(2, 2, 2);
  letter-spacing: -0.6px;
}

.auth-modal-main input {
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid lightgray;
  height: 46px;
  padding: 11px;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
}

.auth-modal-main button {
  margin: 15px 0;
  height: 50px;
  box-sizing: border-box;
  padding: 12px 24px;
  color: white;
  background-color: cadetblue;
  font-size: 19px;
  line-height: 22px;
  border-radius: 3px;
}

.auth-modal-main p {
  border-top: 1px solid lightgray;
  padding: 15px 0 0 0;
  margin: 20px;
  font-size: 19px;
  text-align: center;
  line-height: 24px;
  color: rgb(20, 20, 20);
}
