.icon-link {
  height: 34px;
  width: 34px;
  padding: 24px;
  display: block;
  background-image: image-url('wave.svg');
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.nav-bar-main {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 5;

  form {
    position: absolute;
  }

  input {
    height: 50px;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    background-image: image-url('magnify.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 4% 50%;
    padding-left: 55px;
    width: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid #DBDBDB;
  }

}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;


  a {
    box-sizing: content-box;
    padding: 8px;
    margin: 0 5px;
    color: rgba(72, 72, 72, .8);
    text-align: center;
    line-height: 14px;
    font-size: 16px;
    font-weight: 400;
  }

  button {
    width: 60px;
    position: absolute;
    right: 15px;
    top: -8px;
    line-height: 14px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(72, 72, 72, .8);
  }

  a:hover, button:hover {
    border-bottom: 2px solid rgba(0,0,0, .5);
  }

}

.clear-search {
  display: inline;
  position: absolute;
  top: 17px;
  right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
    .nav-right {
      display: none;
    }

    .nav-bar-main {
      div, input {
        width: 95%;
      }
    }
}
