.room-main-picture {
  img {
    width: 100%;
    min-height: 320px;
    height: 80vh;
    object-fit: cover;
  }
}

.user-picture, .host-pic {
  img {
    height: 64px;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.room-info-booking-container {
  display: flex;
  margin: 0 300px;
  padding: 0 24px;
  justify-content: space-between;
}

.room-info {
  display: flex;
  flex-direction: column;
  width: 611px;
  padding: 0 8px;
  color: #484848;

  nav {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    a {
      padding: 16px 0;
    }

    span {
      text-align: center;
      padding: 16px 0;
      width: 19px;
      font-size: 15px;
      font-weight: 400;
      color: #484848;
    }
  }

  header {
    display: flex;
    margin-top: 15px;
  }

  .host-pic {
    width: 85px;
    padding: 0 8px;
    h2 {
      color: rgb(118,118,118);
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.2px;
      font-size: 15px;
      font-weight: 300;
    }
  }

  .user-info {
    color: #484848;
    letter-spacing: 0.2px;

    h2 {
      font-size: 17px;
      line-height: 22px;
      font-weight: 700;
    }

    h3 {
      font-size: 15px;
      line-height: 18px;
      font-weight: 300;
    }

    p {
      font-size: 17px;
      line-height: 22px;
      font-weight: 300;
    }

  }

  .header-content {
    width: 495px;
    padding: 0 16px 0 0;

    h1 {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -.6px;
      padding: 6px 0;
      font-weight: 900;
    }

    h2 {
      font-size: 20px;
      font-weight: 300;
      letter-spacing: .2px;
      line-height: 22px;
      margin: 5px 0;
    }

    }

    .description {
      font-size: 17px;
      color: rgb(72, 72, 72);
      letter-spacing: .2px;
      line-height: 22px;
      padding-right: 55px;
      margin: 20px 0;
    }
  }

.room-features {
  display: flex;
  margin: 15px 0;

  span {
    margin: 0 15px 0 10px;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .2px;
    line-height: 22px;
    color: rgb(72, 72, 72);
  }

  div {
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
  }

  #bathtub-icon {
    background-image: image-url('bathtub-with-opened-shower');
  }
  #bedroom-icon {
    background-image: image-url('opened-door-aperture');
  }
  #bed-icon {
    background-image: image-url('bed');
  }
  #guests-icon {
    background-image: image-url('multiple-users-silhouette');
  }


}

.review-header {
  height: 72px;
  border-bottom: 1px solid rgba(0,0,0,.2);

  h1 {
    padding-top: 20px;
    color: rgb(72,72,72);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -.6px;
    line-height: 32px;
  }
}


.review-component {
  border-bottom: 1px solid rgba(0,0,0,.2);

  .user-header {
    padding: 18px 0 15px 0;
    display: flex;
  }

  .user-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    * {
      padding: 3px;
    }
  }

  p {
    padding-bottom: 20px;
  }
}

.booking-aside {
  overflow: auto;
  width: 371px;
  padding: 0 24px;
  border: 1px solid rgb(228, 228, 228);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin: 50px 0 ;
}
