.welcome-page-main {
  margin: auto;
  // position: absolute;
  display: block;
  padding-top: 50px;
  width: 100vw;

  content {
    width: 755px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h1 {
      color: #FF5A5F;
      font-size: 55px;
      font-weight: 900;
      line-height: 57px;
      letter-spacing: -.8px;
    }

    h2 {
      font-size: 49px;
      font-weight: 900;
      line-height: 57px;
      letter-spacing: -.8px;
      color: #484848;
    }

    .search-bar {
      width: 500px;
    }
  }
}
